<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titlePage %></title>
    <%- include('../partials/head.ejs'); %>   
</head>

<body>
    <header>
        <%- include('../partials/header.ejs'); %>
    </header>

    <main>
        <div class="row">

            <div class="col-sm-7">
                <div class="jumbotron">
                    <h1>Update Category</h1>
                    <h2>You are about to modify the elements of your category :</h2>
                    <h3 class="card-title"><%= category.categoryName %></h3>
                    <h4 class="card-subtitle mb-2 text-muted">Id : <%= id %></h4>
                    <h5 class="card-subtitle mb-2 text-muted">by BioCare &copy;</h5>  
                    
                    <form action="/categories/update-category/<%= id %>" method="post">
                        
                        <input type="text" name="_id" value="<%= id %>" hidden>
                       
                        <div class="form-group">
                            <label for="categoryName">Category Name</label>
                            <input type="text" class="form-control" name="categoryName" value="<%= category.categoryName %>" placeholder="<%= category.categoryName %>">
                        </div>
      
                          <div class="form-group">
                            <label for="categoryDesc">Description</label>
                            <textarea class="form-control" name="categoryDesc" rows="2"></textarea>    
                          </div>
      
                        <button type="submit" class="btn btn-success">Update</button>
                    </form>

                </div> 
            </div>

            <div class="col-sm-4">
                <h2>Modify Your Category</h2>  
                  <img src="https://urlz.fr/lCym" class="img-fluid" alt="Responsive image">         
            </div>
        </div>
    </main>
 
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>